@using System.Data


<style>
	h2{
		text-align:center;
		margin-bottom:20px;
	}
	table{
		border-collapse:collapse;
		margin:0 auto;
	}
	table,td,th{
		border:2px solid black;
	}
	tr,td{
		text-align:center;
		padding:8px 15px;
	}
</style>
<h2>Department List
	<div>
	</div>
	<br />
<a asp-action="AddOrEdit" class="btn btn-primary">Add New</a>
</h2>

<div>
	<table>
	<thead>
		<tr>
			<th>DepartmentId</th>
			<th>Demartment Name</th>
			<th>Employee Name</th>
			<th>Employee Salary</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach(DataRow dataRow in Model.Rows)
		{
			<tr>
				<td>@dataRow["Did"]</td>
				<td>@dataRow["Dname"]</td>
				<td>@dataRow["Ename"]</td>
				<td>@dataRow["Salary"]</td>
				<td>
					<a asp-action="AddOrEdit" asp-route-id="@dataRow["Did"]" class="btn btn-success btn-sm">
						Edit
					</a>
					<a asp-action="Delete" asp-route-id="@dataRow["Did"]" class="btn btn-danger btn-sm"
					 onclick="return confirm('Are you Sure Delete this Department ?');">
					 Delete
					</a>
				</td>

			</tr>
		}
	</tbody>
	</table>
</div>